.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
    width: 1200px;
    margin-bottom: 30px;
}
.slider{
    display: flex;
    cursor: grab;
    width: 4000px;
}
.item{
    height: 40rem;
    max-width: 500px;
    padding: 1rem;
}
.item img{
    height: 400px;
    width: 400px;
    pointer-events: none;
}